python.exe : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
No linha:2 caractere:60
+ ... ACK='true'; & '.venv-langgraph\Scripts\python.exe' -m alembic upgrade ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

INFO  [alembic.runtime.migration] Running upgrade 147_systemic_ai_foundation -> 148_langgraph_runtime, Tenant-safe 
LangGraph runtime metadata and dedicated checkpoint schema.
-- Running upgrade 147_systemic_ai_foundation -> 148_langgraph_runtime

CREATE SCHEMA IF NOT EXISTS langgraph_runtime;

CREATE TABLE ai_graph_definitions (
    id UUID NOT NULL, 
    graph_key VARCHAR(120) NOT NULL, 
    semantic_version VARCHAR(40) NOT NULL, 
    state_schema_version VARCHAR(80) NOT NULL, 
    status VARCHAR(24) NOT NULL, 
    content_hash VARCHAR(64) NOT NULL, 
    code_revision VARCHAR(80) NOT NULL, 
    node_manifest JSONB NOT NULL, 
    edge_manifest JSONB NOT NULL, 
    tool_policy_version VARCHAR(80) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    approved_at TIMESTAMP WITH TIME ZONE, 
    deprecated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_ai_graph_definition_key_version UNIQUE (graph_key, semantic_version), 
    CONSTRAINT ck_ai_graph_definition_status CHECK (status IN ('DRAFT','APPROVED','DEPRECATED','BLOCKED')), 
    UNIQUE (content_hash)
);

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\__main__.py", line 4, in 
<module>
    main(prog="alembic")
    ~~~~^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\config.py", line 1047, in main
    CommandLine(prog=prog).main(argv=argv)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\config.py", line 1037, in main
    self.run_cmd(cfg, options)
    ~~~~~~~~~~~~^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\config.py", line 971, in 
run_cmd
    fn(
    ~~^
        config,
        ^^^^^^^
        *[getattr(options, k, None) for k in positional],
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        **{k: getattr(options, k, None) for k in kwarg},
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\command.py", line 483, in 
upgrade
    script.run_env()
    ~~~~~~~~~~~~~~^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\script\base.py", line 545, in 
run_env
    util.load_python_file(self.dir, "env.py")
    ~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\util\pyfiles.py", line 116, 
in load_python_file
    module = load_module_py(module_id, path)
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\util\pyfiles.py", line 136, 
in load_module_py
    spec.loader.exec_module(module)  # type: ignore
    ~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^
  File "<frozen importlib._bootstrap_external>", line 759, in exec_module
  File "<frozen importlib._bootstrap>", line 491, in _call_with_frames_removed
  File "C:\Users\ricar\Documents\Codex\2026-08-08\scalpyn-langgraph-runtime\backend\alembic\env.py", line 102, in 
<module>
    run_migrations_offline()
    ~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\ricar\Documents\Codex\2026-08-08\scalpyn-langgraph-runtime\backend\alembic\env.py", line 34, in 
run_migrations_offline
    context.run_migrations()
    ~~~~~~~~~~~~~~~~~~~~~~^^
  File "<string>", line 8, in run_migrations
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\runtime\environment.py", line 
969, in run_migrations
    self.get_context().run_migrations(**kw)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\runtime\migration.py", line 
626, in run_migrations
    step.migration_fn(**kw)
    ~~~~~~~~~~~~~~~~~^^^^^^
  File "C:\Users\ricar\Documents\Codex\2026-08-08\scalpyn-langgraph-runtime\backend\alembic\versions\148_langgraph_runt
ime.py", line 112, in upgrade
    op.bulk_insert(definitions, _definition_rows())
    ~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 8, in bulk_insert
  File "<string>", line 3, in bulk_insert
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\operations\ops.py", line 
2561, in bulk_insert
    operations.invoke(op)
    ~~~~~~~~~~~~~~~~~^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\operations\base.py", line 
452, in invoke
    return fn(self, operation)
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\operations\toimpl.py", line 
250, in bulk_insert
    operations.impl.bulk_insert(  # type: ignore[union-attr]
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        operation.table, operation.rows, multiinsert=operation.multiinsert
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\ddl\impl.py", line 497, in 
bulk_insert
    self._exec(
    ~~~~~~~~~~^
        table.insert()
        ^^^^^^^^^^^^^^
    ...<14 lines>...
        )
        ^
    )
    ^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\ddl\impl.py", line 236, in 
_exec
    compiled = construct.compile(dialect=self.dialect, **compile_kw)
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\elements.py", line 
311, in compile
    return self._compiler(dialect, **kw)
           ~~~~~~~~~~~~~~^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\elements.py", line 
323, in _compiler
    return dialect.statement_compiler(dialect, self, **kw)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\compiler.py", line 
1462, in __init__
    Compiled.__init__(self, dialect, statement, **kwargs)
    ~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\compiler.py", line 
902, in __init__
    self.string = self.process(self.statement, **compile_kwargs)
                  ~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\compiler.py", line 
948, in process
    return obj._compiler_dispatch(self, **kwargs)
           ~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\visitors.py", line 
138, in _compiler_dispatch
    return meth(self, **kw)  # type: ignore  # noqa: E501
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\compiler.py", line 
5948, in visit_insert
    crud_params_struct = crud._get_crud_params(
        self,
    ...<4 lines>...
        **kw,
    )
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\crud.py", line 315, in 
_get_crud_params
    use_insertmanyvalues, use_sentinel_columns = _scan_cols(
                                                 ~~~~~~~~~~^
        compiler,
        ^^^^^^^^^
    ...<9 lines>...
        kw,
        ^^^
    )
    ^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\crud.py", line 711, in 
_scan_cols
    _append_param_parameter(
    ~~~~~~~~~~~~~~~~~~~~~~~^
        compiler,
        ^^^^^^^^^
    ...<12 lines>...
        kw,
        ^^^
    )
    ^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\crud.py", line 937, in 
_append_param_parameter
    value = _handle_values_anonymous_param(
        compiler,
    ...<9 lines>...
        **kw,
    )
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\crud.py", line 517, in 
_handle_values_anonymous_param
    return value._compiler_dispatch(compiler, **kw)
           ~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\ext\compiler.py", line 
539, in <lambda>
    lambda *arg, **kw: existing(*arg, **kw),
                       ~~~~~~~~^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\ext\compiler.py", line 
592, in __call__
    expr = fn(element, compiler, **kw)
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\alembic\util\sqla_compat.py", line 
461, in _render_literal_bindparam
    return compiler.render_literal_bindparam(element, **kw)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\compiler.py", line 
3895, in render_literal_bindparam
    return self.render_literal_value(value, bindparam.type)
           ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^
  File 
"C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\dialects\postgresql\base.py", 
line 2113, in render_literal_value
    value = super().render_literal_value(value, type_)
  File "C:\Users\ricar\AppData\Local\Programs\Python\Python314\Lib\site-packages\sqlalchemy\sql\compiler.py", line 
3930, in render_literal_value
    raise exc.CompileError(
    ...<3 lines>...
    )
sqlalchemy.exc.CompileError: No literal value renderer is available for literal value "['load_request', 
'authorize_tenant', 'resolve_provider_model', 'resolve_prompt', 'freeze_canonical_dataset', 
'resolve_configuration_bundle', 'run_data ... (82 characters truncated) ... yped_tools', 'execute_readonly_tools', 
'assemble_evidence', 'invoke_provider', 'validate_structured_output', 'persist_result_usage_audit', 'complete']" with 
datatype JSONB
