xgboost==2.1.1
optuna==3.6.1
optuna-integration[sqlalchemy]==3.6.0
mlflow==2.13.0
scikit-learn==1.5.0
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
google-cloud-storage==2.17.0
python-dotenv==1.0.1
shap==0.45.1
scipy==1.13.1
